<!DOCTYPE html>
    <head>
        <meta lang="fr"/>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=960, initial-scale=1.0"> 
				<meta name="description" content="rendezvous.cg, Ne ratez plus un seul évènement au Congo - Brazzaville">
        <meta name="keywords" content="rendezvous.cig, évènements, congo brazzaville"/>
        <meta name="author" content="rendezvous.cg"/>

				<meta property="og:title" content="Rendezvous.cg - L'agenda des évènements du Congo Brazzaville" />
				<meta property="og:description" content="Recevez une fois par semaine la liste des évènements à ne pas rater au Congo." />	

				<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
        <title>rendezvous.cg - Ne ratez plus un seul évènement du Congo</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/jquery.growl.css" />
    </head>
    <body>
		<div class="container">
		  <div class="row header">
				<div class="span12">
				  <p class="logo">rendezvous.cg</p>	
					<p class="moto">Ne ratez plus un seul évènement du Congo !<br><br>Abonnez-vous pour recevoir le programme de la semaine par email</p>
				</div>
		  </div>
		  <div class="row" id="email-collect">
		    <div class="span12">
				  <form method="post" action="#">
				    <ul>
					 	  <li> <input type="text" name="email" id="email" placeholder="Votre adresse email..."> </li>
							<li> <input type="submit" id="emailButton" value="Tenez-moi informé(e)"></li>
				    </ul>
				  </form>
				</div>
		  </div>
			<div class="row">
				<div class="span12 add-event"> 
				  <a class="button" target="_blank" id="suggestEvent" href="https://docs.google.com/a/azika-eros.org/forms/d/1X07TTNz8KnF3Q3io1zmp5HiLwNL3U6jAjRCf8Z5WJcw/viewform">Proposer un évènement</a>
				</div>
		  </div>
		  <div class="row">
		    <div class="calendar span12">
						<iframe src="https://calendar.google.com/calendar/embed?src=azika-eros.org_7p8e2i53ni8nq4kjjkdm925tb0%40group.calendar.google.com&ctz=Africa%2FLagos" style="border: 0" width="940" height="500" frameborder="0" scrolling="no"></iframe>
		    </div>
		  </div>
			<div class="row">
				<div class="span12 about">
						<p><b>A propos</b></p>
				</div>
		  </div>
		  <div class="row contact">
				<div class="span12">
				  <p class="signature">
					<a href="http://christ.azika-eros.org" target="_blank" title="Vister mon blog"><img src="img/christ-azika-eros.png" alt="Christ Azika-Eros's picture" width="150" height="150"></a>
					Je suis Christ Azika-Eros, auteur du livre <a href="http://LikeABossBook.net" target="_blank">LIKE A BOSS - Le guide des jeunes professionnels ambitieux</a>. Manager Marketing dans les télécoms, je publie sur <a href="http://christ.azika-eros.org" target="_blank">christ.azika-eros.org</a> des articles en stratégie, management et développement personnel. Speaker et formateur dans ses mêmes domaines, je mets également à disposition mon expertise en informatique, réseaux et télécoms. Retrouvez-moi sur <a href="https://www.facebook.com/supm4n" target="_blank">Facebook</a> et <a href="https://twitter.com/supm4n" target="_blank">Twitter</a>. <br> <br>
					J'ai terminé mes études au sein du Mastère Spécialisé Centrale-ESSEC Entrepreneurs après l'obtention d'un diplôme d'ingénieur de Telecom Bretagne en IT et Télécommunications. <br> <br>
		      </p>
		    </div>
		  </div>
		<div class="row footer">
		  <div class="span12"> 
					<p>&copy; rendezvous.cg - Made with <3 in Brazzaville - contact : <a href="mailto:christ@azika-eros.org">christ@azika-eros.org</a></p>
		  </div>
		</div>
    <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/parse-1.2.18.min.js"></script>
		<script type="text/javascript" src="js/jquery.growl.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    </body>
</html>
